/* Estilo comun para botones*/
Button{
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}
/* Estilo especifico para botones INFORMES*/
.botonInformes{
    -fx-background-color: darkblue;
}
/* Estilo especifico para boton CERRAR*/
.botonCerrar{
    -fx-background-color: red;
}
/* Estilo adicional para los botones
 cuando el mouse pasa sobre ellos */
.button:hover {
    -fx-background-color: grey;}
/* Estilo especifico para LISTVIEW*/
.list-View {
    -fx-background-color: yellow;
    -fx-font-size: 16px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
/* Efecto cuando el cursor pasa sobre una celda */
.list-cell:hover {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}

